<header class="pt-3">
    <a id="logo" routerLink="/home" aria-label="home">
        <div id="svgContainer" style="display: flex;
        align-items: center;" class="bodymovin" data-bm-renderer="svg">
            <img src="./assets/img/badge/ewdlogo.png" alt="" width="35" srcset=""> <span style=" padding-left:12px;    letter-spacing: 2px;   color: #fff;
            font-size: 22px;
        " class="text-white">TECH</span>
            </div>
            </a>
            <div class="d-none d-lg-block d-md-none d-sm-none"><ul class="menu" style="display:flex;">
            <li class="navItem navWebView home current">
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="navItem navWebView services">
              
                <a routerLink="/services" routerLinkActive="active">Services</a>
            </li>
    
    
            <li class="navItem navWebView ecomerece"><a routerLink="/e-commerce" routerLinkActive="active">E-Commerce</a></li>
            <li class="navItem navWebView porfolio"><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
            <li class="navItem navWebView blog"><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
            <li class="navItem navWebView contactus"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            <li class="navItem navWebView aboutus"><a routerLink="/aboutus" routerLinkActive="active">About Us</a></li>
        </ul></div>
            <div class="menu-toggle d-block d-lg-none d-md-block d-sm-block">
            <span></span>
        <span></span>
        <span></span>
        </div>
</header>
