
#hero {
    height: 64vh;
    display: flex;
    align-items: center;
    color: #fff;
    background: radial-gradient(#00b3ff, #0077d5);
}

#hero .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

#hero .video-bg .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

#hero .video-bg video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#hero .lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    background-attachment: fixed;
    opacity: 0.7;
}

#hero .content {
    position: relative;
    z-index: 2;
    pointer-events: none;
}

#hero .content h3 {
    font-weight: 300;
}

#hero .content a {
    pointer-events: all;
}

#hero p {
    font-size: 2.2rem;
}

#hero .buttons a:not(:last-child) {
    margin-right: 3rem;
}
